*{
	text-decoration: none;
	list-style-type: none;
}
.tonghop{
	max-width: 1150px;
	margin: auto;
	position: relative;
}
.logo{
	width: 20%;
	float: left;
	padding-left: 0;
	padding-top: 0;
	overflow: hidden;
}
.navbar-center{
	padding-top: 30px;
}
.tonghop_center{
	width: 60%;
	float: left;
	padding-left: 24px;
}
.tonghop_right{
	width: 20%;
	float: left;
	padding-top: 38px;
}
.box_right{
	height: 35px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px 10px;
}
.box_right a{
	text-decoration: none;
	color: black;
}
.navbar-header{
	margin-left: 10px;
}
.container-fluid{
	padding-left: 100px;
}
.navbar{
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: white;
}
.icon{
	float: left;
}
.navbar-brand{
	font-family: 'Sofia';
	font-size: 25px;
}
.navbar-right{
	margin-right: 30px;
}
.navbar-right a{
	font-size: 16px;
}

/* Body */
.body{
	display: inline-block;
	position: relative;
	margin-bottom: 100px;
	width: 100%;
	height: auto;
}
.caterory{
	width: 22%;
	height: auto;
	float: left;
	padding-top: 15px;
	padding-left: 15px;
}
.news{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #ffffff;
}
.news ul li a{
	color: #000000;
	float: left;
	font-weight: bold;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.content_new{
	width: 77%;
	height: auto;
	float: right;
	margin-top: 15px;
}
.new_info{
	width: 100%;
	float: left;
	margin-top: 10px;
}
.box_detail{
	width: 100%;
	float: left;
	padding: 0px 10px;
	color: #666666;
	font-size: 14px;
}
.server_home{
	width: 100%;
	float: left;
}


/* Footer*/
#footer{
	width: 100%;
	height: auto;
	display: inline-block;
}
.footer-header{
	border-top: 3px solid #FF6600;
	border-bottom: 1px solid #cccccc;
	width: 100%;
	height: 150px;
}
.column-1{
	display: inline-block;
	width: 33%;
	height: 150px;
	float: left;
	padding-left: 30px; 
}
.column-img{
	float: left;
	width: 25%;
	margin-top: 15px;
}
.column-text{
	float: right;
	width: 74%;
}
.footer-main{
	padding-top: 30px;
}